/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
body{
	padding-top: 81px;
}
/*	header start*/
header {
   padding: 6px 0;
}
.logo {
   width: 150px;
}
.menu {
   text-align: right;
}
.menu ul li a {
   padding: 8px 0 0 0!important;
   font-size: 18px;
}
/*slider start*/
.slider {
	padding-bottom: 60px;
}
.indic_cus {
	bottom: -65px;
}
.indic_cus [data-bs-target] {
	width: 13px;
	height: 13px;
}
.inner_content h1 {
	font-size: 26px;
}
.inner_content h2 {
	margin: 17px 0;
	font-size: 18px;
}
.inner_content p {
	margin-bottom: 25px;
}
.inner_icon ul li {
	margin-right: 25px !important;
}
.inner_icon ul li i {
	font-size: 35px;
}
/*feature start*/
.feature {
    padding-top: 50px;
    padding-bottom: 70px;
}
.c_conh1 {
    margin-bottom: 10px;
    font-size: 26px;
}
.c_conp {
    font-size: 16px;
    line-height: 22px;
}
.f_content {
    margin-top: 30px;
}
.f_icon i {
    font-size: 36px;
}
.f_text {
	margin-top: 10px;
    text-align: center;
}
.f_text h2 {
    margin-bottom: 4px;
    font-size: 20px;
}
.f_text p {
    line-height: 19px;
    letter-spacing: 0;
}
/*contact start*/
.contact {
    padding-top: 50px;
    padding-bottom: 35px;
}
.c_form {
    margin-top: 30px;
}
.c_input {
    padding: 0;
	height: 42px;
	text-align: center;    
}
.f_btn {
    height: 42px;
}
.c_icon {
    margin: 30px 0 0;
}
.c_icon ul li {
    margin-right: 18px !important;
}
.c_icon ul li a i {
    font-size: 35px;
}
/*footer start*/
footer{
	padding-bottom: 60px;
}
.ft_link{
	margin-top: 35px;
	text-align: center;
}
.ft_text address{
	text-align: center;
}

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
body{
	padding-top: 89px;
}
/*	header start*/
header {
    padding: 10px 0;
}
.menu {
    text-align: right;
}
.menu ul li a {
    padding: 10px 0 0 0!important;
    font-size: 20px;
}
/*slider start*/
.slider {
	 padding-bottom: 70px;
}
.indic_cus {
	 bottom: -60px;
}
.indic_cus [data-bs-target] {
	 width: 13px;
	 height: 13px;
}
.inner_content h1 {
	font-size: 26px;
}
.inner_content h2 {
	margin: 17px 0;
	font-size: 18px;
}
.inner_content p {
	margin-bottom: 25px;
}
.inner_icon ul li {
	margin-right: 30px !important;
}
.inner_icon ul li i {
	font-size: 35px;
}
/*feature start*/
.feature {
    padding-top: 50px;
    padding-bottom: 70px;
}
.c_conh1 {
    margin-bottom: 10px;
    font-size: 26px;
}
.c_conp {
    font-size: 16px;
    line-height: 22px;
}
.f_content {
    margin-top: 35px;
}
.f_icon i {
    font-size: 36px;
}
.f_text {
	margin-top: 10px;
    text-align: center;
}
.f_text h2 {
    margin-bottom: 4px;
    font-size: 20px;
}
.f_text p {
    line-height: 19px;
    letter-spacing: 0;
}
/*contact start*/
.contact {
    padding-top: 60px;
    padding-bottom: 50px;
}
.c_form {
    margin-top: 40px;
}
.c_input {
    padding: 0;
    height: 46px;
	text-align: center; 
}
.f_btn {
    height: 46px;
}
.c_icon {
    margin: 45px 0 0;
}
.c_icon ul li {
    margin-right: 22px !important;
}
.c_icon ul li a i {
    font-size: 35px;
}
/*footer start*/
footer{
	padding-bottom: 60px;
}
.ft_link{
	margin-top: 30px;
	text-align: center;
}
.ft_text address{
	text-align: center;
}

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
body{
	padding-top: 99px;
}
/*	header start*/
header {
    padding: 15px 0;
}
.menu {
    text-align: right;
}
.menu ul li a {
    padding: 10px 0 0 0!important;
}
/*feature start*/
.feature {
    padding-top: 80px;
    padding-bottom: 100px;
}
.f_content {
    margin-top: 50px;
}
.f_icon i {
    font-size: 40px;
}
/*contact start*/
.contact {
    padding-top: 70px;
    padding-bottom: 60px;
}
.c_input {
    padding: 0 24px;
    height: 46px;
}
.f_btn {
    height: 46px;
}
.c_icon {
    margin: 45px 0 0;
}
/*footer start*/
footer{
	padding-bottom: 65px;
}

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}
/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}
